.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 1rem 0 3rem;
    flex: 1;
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 120px;
    font-size: 20px;
    border-top: 1px solid var(--c0-primary-faded);
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 70px;
    font-family: var(--header-font);
    font-size: 1.75rem;
    padding: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 150px);
}

.button {
    font-size: 1.5rem;
    color: var(--c0-primary);
    padding: 10px;
}

.button:hover {
    color: var(--c1-secondary);
}

@media (max-width: 900px) {
    .main {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        width: 95%;
    }

    .button {
        font-size: 1.5rem;
    }

    .menu {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .menu {
        grid-template-columns: 1fr 1fr;
    }
}
