.tag {
    list-style-type: none;
    padding: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px;
    border-style: dashed;
    border-color: var(--c0-primary-faded);
    color: var(--c0-primary-faded);
}

.tag:hover,
.highlightTag:hover {
    background-color: var(--c1-secondary-faded);
    border-width: 1px;
    border-color: var(--c1-secondary-faded);
    color: white;
}

.highlightTag {
    list-style-type: none;
    padding: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px;
    border-color: var(--c0-primary-faded);
    background-color: var(--c0-primary-faded);
    color: white;
}

.tagContainer {
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
}

.previewContainer {
    text-align: left;
    border-width: 1px;
    margin: 20px;
    width: 100%;
}

.title {
    font-family: "Permanent Marker";
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin: 0;
    padding: 0;
}

.description {
    margin: 10px;
    line-height: 1;
    padding: 0;
}
