
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marker&display=swap&family=Montserrat:wght@400&display=swap');

:root {
  --c0-primary: #e84393;
  --c1-secondary: #00b894;;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Mulish', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  line-height: 1.75;
}

a {
  color: var(--c0-primary);
  text-decoration: none;

}

a:hover {
  color:var(--c1-secondary);
}

h1 {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  letter-spacing: 3px;
  word-spacing: 4px;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    }
}

::-moz-selection {
  background-color: var(--c0-primary);
  color: #fff;
}

::selection {
  background-color: var(--c0-primary);
  color: #fff;
}