@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marke&family=Montserrat:wght@400&&family=Sigmar+One&display=swap");

:root {
    --dark: #2f3640;
    --light: #f5f6fa;
    --c0-primary: #e84393;
    --c0-primary-faded: #f4a1c9;
    --c1-secondary: #00b894;
    --c1-secondary-faded: #80dcca;
    --header-font: "Sigmar One";
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Mulish", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p,
li {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.75;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    margin: 5px;
}

ol {
    list-style-type: decimal;
    margin-left: 30px;
}

ul {
    list-style-type: square;
    margin-left: 30px;
}

a {
    color: var(--c0-primary);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--c1-secondary);
    font-weight: bolder;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 3px;
    word-spacing: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: var(--header-font);
    font-size: 3.25rem;
}

h2 {
    font-family: var(--header-font);
    font-size: 2.5rem;
}

h3 {
    font-weight: bolder;
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.5;
}

h4 {
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
}

button:focus {
    outline: 0;
}

button {
    background: none;
    border: none;
}

article blockquote {
    opacity: 0.75;
    font-style: italic;
    border-left: 5px solid var(--c0-primary);
    padding: 10px;
    border-color: var(--c0-primary);
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.25;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background-color: var(--c0-primary);
    color: #fff;
}

::selection {
    background-color: var(--c0-primary);
    color: #fff;
}

@media (max-width: 900px) {
    h1,
    h2,
    h3,
    h4 {
        letter-spacing: 1px;
        word-spacing: 2px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    article {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
}
