@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marker&display=swap&family=Montserrat:wght@400&display=swap");

:root {
    --c0-primary: #e84393;
    --c0-primary-faded: #f4a1c9;
    --c1-secondary: #00b894;
    --c1-secondary-faded: #80dcca;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Mulish", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.75;
    margin: 10px;
}

a {
    color: var(--c0-primary);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--c1-secondary);
    font-weight: bolder;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 3px;
    word-spacing: 4px;
    margin: 30px;
    margin-left: 0;
}

h1 {
    font-family: "Permanent Marker";
    font-size: 3.25rem;
}

h2 {
    font-family: "Permanent Marker";
    font-size: 2.5rem;
}

h3 {
    font-weight: bolder;
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: bolder;
    text-transform: uppercase;
}

button:focus {
    outline: 0;
}

button {
    background: none;
    border: none;
}

article blockquote {
    color: gray;
    font-style: italic;
    border-left: 5px solid var(--c0-primary);
    padding: 15px;
    border-color: var(--c0-primary);
    margin: 20px;
    margin-left: 0;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background-color: var(--c0-primary);
    color: #fff;
}

::selection {
    background-color: var(--c0-primary);
    color: #fff;
}

@media (max-width: 900px) {
    h1,
    h2,
    h3,
    h4 {
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    article {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
}
